.popup__admin {
	border-radius: 10px;
	background-color: #FFFFFF;
	border-radius: 10px;
	width: 430px;
}

@media screen and (max-width: 767px) {
	.popup__admin {
		border-radius: 10px;
		background-color: #FFFFFF;
		border-radius: 10px;
		width: 100%;
	}
}