.popup__input-container {
	width: 358px;
	padding: 29px 0 10px 0;
	margin: 0 auto;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}
@media screen and (max-width: 767px) {
	.popup__input-container {
		width: 238px;
	}
}