.popup__container {
	width: 507px;
	position:relative;
	margin: 155px auto 0;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 767px) {
	.popup__container {
		width: 282px;
		margin: 87px auto 0;
	}
}