.button_action_close {
	border: none;
	width: 32px;
	position: absolute;
	top: 0;
	right: 0;
}
@media screen and (max-width: 767px) {
	.button_action_close {
		position: static;
		width: 20px;
		margin-bottom: 16px;
		align-self: flex-end;
	}
}