.button_action_close {
	border: none;
	width: 32px;
	margin-bottom: 8px;
	padding-left: 435px;
}
@media screen and (max-width: 767px) {
	.button_action_close {
		position: static;
		width: 20px;
		margin-bottom: 12px;
		padding-left: 258px;
	}
}