.popup__button {
	width: 100%;
	border: none;
	background-color: #000000;
	border-radius: 2px;
	min-height: 50px;
	color: #FFFFFF;
	transition: opacity .5s;
}
.popup__button:hover {
	opacity: .8;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.popup__button {
		min-height: 46px;
		margin-top: 4px;
		margin-bottom: 24px;
	}
}