.popup__input-text {
	border: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	padding: 0;
	text-overflow: ellipsis;	
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}
