.popup__input-text {
	border: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	padding: 0;
	text-overflow: ellipsis;	
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	padding: 29px 0 10px 0;
}
